[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
flask = "*"
pymysql = "*"
flask-wtf = "*"
wtforms = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
cryptography = "*"
flask-migrate = "*"
flask-jwt = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pytz = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python run.py"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
